{% extends "base.html" %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block title %}UpdateBlog{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'apps_menu:main_menu' %}">
        Main Menu
    </a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'blog_app:blogs_list' %}">
        Blogs List
    </a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    Update Blog
</li>
{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-top: 0px;">
    <div class="row">
        <div class="col-md-6 offset-md-3" >
        　　<form method="post">
                {% csrf_token %}
                <div class="row">
                    {% include 'blog_app/blog_form.html' %}
                    <div class="col-md-11">
                        <button type="submit" class="btn btn-block btn-outline-primary">
                            update
                        </button>
                    </div>
                </div>
        　　</form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
</script>
{% endblock %}