[Unit]
Description=gunicorn daemon (mysite)
Requires=mysite.socket
After=network.target

[Service]
User=mysite_admin
Group=www-data
WorkingDirectory=/home/mysite_admin/MySite
ExecStart=/home/mysite_admin/MySite/venv/bin/gunicorn \
            --access-logfile - \
            --workers 1 \
            --bind unix:/run/gunicorn/mysite.sock \
            MySite.wsgi:application

[Install]
WantedBy=multi-user.target
